.menu {
    flex-direction: column;
    justify-content: center;
}
  
.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    max-width: 414px;
    border-bottom: 2px dashed var(--color-orange);
}
  
  .item-name {
    margin-right: 1rem;
    font-size: var(--copy-h5);
}

.item-price {
    align-self: center;
    font-weight: bold;
}
  
.item-description {
    opacity: 75%;
    font-family: var(--font-serif);
    text-align: center;
}