#home {
    display: flex;
    align-items: center;
    font-family: var(--font-serif);
}

#about {
    margin-right: 1.5rem;
    font-size: var(--copy-h5);
    max-width: var(--line-length);
}

#about p:first-of-type {
    margin-bottom: 1rem;
}

.cover-image {
    border: 2px solid transparent;
    border-radius: 5px;
}